<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.tama.dao.AnimalInfoMapper">
    <select id="selectAnimalInfo" parameterType="String" resultType="AnimalInfo">
        SELECT ANIMALNAME, TYPESEQ, PLAYERID,to_char(BIRTH,'YYYY-MM-DD') as BIRTH, CONDITION, MONEY, logindate
        FROM ANIMAL_INFO
        WHERE playerId = #{playerId}
    </select>

    <insert id="tamainput" parameterType="AnimalInfo">
        INSERT INTO ANIMAL_INFO (ANIMALSEQ, PLAYERID, TYPESEQ, ANIMALNAME)
        VALUES (animal_seq.nextval, #{playerId}, #{typeSeq}, #{animalName})
    </insert>

    <update id="updateMoneyByWalk" parameterType="AnimalInfo">
        UPDATE ANIMAL_INFO
        SET MONEY = #{money}
        WHERE PLAYERID = #{playerId}
    </update>

    <update id="updateMoneyByClinic" parameterType="AnimalInfo">
        UPDATE ANIMAL_INFO
        SET MONEY = #{money}, CONDITION = #{condition}
        WHERE PLAYERID = #{playerId}
    </update>
</mapper>
